<% provide(:title, "About Us") %>
<h1>About Us</h1>
<p>Personlized online library management system to keep track of your reading projects.</p>
<p>
  <a href="mailto:edwin.mathew@in.reportbee.com?
     Subject=I%20need%20help">Contact: Edwin</a>
</p>